@import "src/assets/scss/var.scss";
@import "src/assets/scss/global.scss";

.home{
  padding: $content-padding;
  @include layout()
}
.content_box{
  background: $theme-background-color;
  width: content-box;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 30%;
  margin: 7% 5%;
  padding: 3%;
  font-size: 10px;
}
.el-card{
  margin: 1%;
}
.is_Danger{
  color: $color-Danger;
}
.is_Warning{
  color: $color-Warning;
}
.is_normal{
  color: $color-normal;
}
.el-row{
  height: 45px;
  overflow-y: hidden;
}



